/* main page */

/* restaurant images */

/* for larger screen: default style, three images an a row */

/* screen <= 1174  , two images in a row */
@media screen and (max-width: 1174px) {
  #restaurants-list li {
    width: 35%;
  }
}

/* screen <= 890px , one image in a row */
@media screen and (max-width: 890px) {
  #restaurants-list li {
    width: 60%;
  }
}

/* ------------------------------------------------------------------------ */

/* restaurant page */
@media screen and (max-width: 914px) {
  /* map */
  .inside #map-container {
    width: 100%;
    height: 50%;
  }

  /* breadcrumb under header */
  #breadcrumb {
    position: absolute;
    right: 0;
  }

  /* restaurant info */
  #restaurant-container {
    width: 100%;
    /* to show restaurant name  */
    padding-top: 400px;
  }

  /* reviews */
  #reviews-container {
    width: 100%;
  }
}
